.cd-div, .efgh-div, #idiv{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;

}

@media screen and (min-width:1023px) {
    .cd-cont, #all{
        overflow: auto;
    }
    .cd-div{
        background-color: #f79694;
    }
    .efgh-div{
        background-color: #f76b7f;
    }
    #idiv{
        background-color: #8594a3;
    }
    
}

@media screen and (min-width:480px) and (max-width:767px), (max-width:480px){
    #idiv{
        overflow: auto;
    }
    .cd-div{
        background-color: #f7b089;
    }
    .efgh-div{
        background-color: #f68977;
    }
    #idiv{
        background-color: #f66482;
    }
}


 
@media screen and (min-width:768px) and (max-width:1024px){
    #idiv{
        overflow: auto;
    }
    .cd-div{
        background-color: #e76a27;
    }
    .efgh-div{
        background-color: #a84939;
    }
    #idiv{
        background-color: #645f60;
    }
    
}